@media screen {
  .y-drawer-scrim {
    z-index: 2;
  }

  .y-drawer-content {
    left: -18rem;
    z-index: 3;

    @media screen and (min-width: $break-point-4) {
      width: 20rem;
    }

    @media screen and (max-width: $break-point-3) {
      width: 18rem;
    }

  }
  // header, body::before {
  //   backface-visibility: hidden;
  // }
}


